body {
  background: url(/assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}
.search-bar .search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
}
.search-bar .search-container input[type=text] {
  width: 100%;
  padding: 0 20px;
  height: 50px;
  border: none;
  border-radius: 15px 0 0 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.search-bar .search-container input[type=text]:focus {
  outline: none;
  box-shadow: 0px 0px 15px rgba(0, 123, 255, 0.6);
}
.search-bar .search-container button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: #007bff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  margin-left: -1px;
}
.search-bar .search-container button img {
  width: 24px;
  height: 24px;
}
.search-bar .search-container button:hover {
  background-color: #0062cc;
}
.search-bar .search-container #suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  display: none;
}
.search-bar .search-container li {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.search-bar .search-container li:hover {
  background: #007bff;
  color: white;
}
.search-bar .search-container input:focus ~ #suggestions {
  display: block;
}

.weather-container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
}
.weather-container .location h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}
.weather-container .location p {
  margin: 5px 0;
  font-size: 18px;
  color: #1a1a1a;
}
.weather-container .current-weather h2 {
  margin: 20px 0 10px;
  font-size: 60px;
  font-weight: bold;
}
.weather-container .current-weather p {
  margin: 5px 0;
  font-size: 20px;
  color: #0d0d0d;
}
.weather-container .forecast {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.weather-container .forecast .hourly {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.weather-container .forecast .hour {
  flex: 1;
  text-align: center;
  min-width: 60px;
}
.weather-container .forecast .hour p {
  margin: 5px 0;
  font-size: 16px;
}
.weather-container .forecast .hour img {
  width: 40px;
  height: 40px;
}

.other-cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
}
.other-cities .city-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 7.5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(33.333% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.other-cities .city-card img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 1200px) {
  .search-bar {
    margin: 20px auto;
  }
  .weather-container {
    padding: 10px;
  }
}
@media screen and (max-width: 992px) {
  .search-container {
    flex-wrap: nowrap;
  }
  .search-container input[type=text] {
    width: calc(100% - 50px);
  }
  .search-container button {
    width: 50px;
    margin-left: 0;
  }
  .weather-container {
    max-width: 90%;
  }
  .other-cities {
    flex-direction: column;
    align-items: center;
  }
  .city-card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .search-bar {
    margin: 15px auto;
  }
  .search-container {
    flex-direction: column;
  }
  .search-container input[type=text] {
    width: 100%;
    margin-bottom: 10px;
  }
  .search-container button {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: -10px;
  }
  .search-container button img {
    width: 24px;
    height: 24px;
  }
  .forecast {
    flex-direction: column;
  }
  .hourly {
    flex-direction: column;
    overflow-x: visible;
  }
}
@media screen and (max-width: 576px) {
  .weather-container {
    padding: 10px;
  }
  .current-weather h2 {
    font-size: 48px;
  }
  .current-weather p {
    font-size: 18px;
  }
  .hourly .hour {
    min-width: 60px;
  }
  .city-card {
    padding: 7.5px;
  }
}

/*# sourceMappingURL=styles.css.map */
